@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* 1. ডাবল ইমপোর্ট বাদ দিয়ে শুধুমাত্র @plugin ব্যবহার করুন */
@plugin "daisyui" {
  themes: light;
}

/* 2. থিম কনফিগারেশন */
@theme {
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
  --color-base-200: #33929D;
}

/* 3. গ্লোবাল স্টাইল */
body {
  font-family: "Urbanist", sans-serif;
}

.swiper-slide {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.8);
}

.swiper-slide-active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1);
}
.active{
  color: #CAEB66;
}